<div class="line"></div>



<div class="container">
  <nav class="navbar navbar-expand-lg  fixed-top">
    <a class="navbar-brand" href="/home">
      <img src="https://www.sovtech.co.za/wp-content/uploads/sites/29/2019/07/sovtech_logo-2.png" height="60" alt="Chuck Swapi"> <span class="logo-color">Chuck Swapi</span>
    </a>
    <button class="navbar-toggler navbar-light border-color" type="button" data-toggle="collapse" (click)="toggleNavbar()" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive" [ngbCollapse]="!navbarOpen">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="router-link-active"><span><i class="fa fa-home" aria-hidden="true"></i></span> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us" routerLinkActive="router-link-active"><span><i class="fa fa-question-circle" aria-hidden="true"></i>
            About Us</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="router-link-active"><span><i class="fa fa-id-card" aria-hidden="true"></i>
            Contact Us</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/doctor" routerLinkActive="router-link-active"><span><i class="fa fa-id-card" aria-hidden="true"></i>
            Register As A Doctor</span></a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/doctor" *ngIf="isLogin" routerLinkActive="router-link-active"><span><i class="fa fa-user-md" aria-hidden="true"></i>
            Request A Doctor</span></a>
        </li> -->
        
        
        <li class="nav-item">
          <button id="login" *ngIf="!isLogin" href="javascript:void(0);" (click)='openFormModal()' routerLinkActive="router-link-active" type="submit"
            class="btn">Login</button>
        </li>
        <li>
          <button id="signup" *ngIf="!isLogin" href="javascript:void(0);" (click)='openRegisterFormModal()' routerLinkActive="router-link-active" type="submit"
            class="btn btn-primary">Register</button>
        </li>
        
        <li class="nav-item dropdown" *ngIf="isLogin">
          <a class="nav-link dropdown-toggle boadr" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user fa-2x"></i>
            <span class="text-2x ml-2" *ngIf="isLogin">{{name}}</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="javascript:void(0);" (click)="openFormModalProfile()"> <i class="fa fa-user"></i> Profile</a>
            <!-- <a class="dropdown-item" href="javascript:void(0);" routerLink="/content-view"><span><i class="fa fa-book"></i> My Courses</span></a>
            <a class="dropdown-item" href="javascript:void(0);"  routerLink="/referral"><span><i class="fa fa-handshake-o" aria-hidden="true"></i> Referral</span></a> -->
            <a class="dropdown-item" href="javascript:void(0);" (click)="signOut()"><i class="fa fa-sign-out" aria-hidden="true"></i>
               Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
