<ngx-spinner></ngx-spinner>
<app-menu></app-menu>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="d-flex justify-content-center">
<div class="col-md-6 row">

  <input class="form-control" class="col-md-6" [(ngModel)]="searchTerm"
    placeholder="Search Star Wars People or Jokes">
    <div class="col-md-6"><a (click)="search()" class="btn btn-primary">Search</a></div>
  
</div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        Star Wars People Details
      </div>
      <div class="card-body">
        <a (click)="getPeople()" class="btn btn-primary">List People</a>
        <br>
        <br>

        <table class="table table-sm table-bordered" style="border-top:none;">
          <thead class="" style="background:#1E83EC!important;color:white !important;">
            <tr style="vertical-align:middle;">
              <th scope="col">Name</th>
              <th scope="col">Gender</th>
              <th scope="col">Url</th>
            </tr>
            
          </thead>
          <tr *ngFor="let item of people | paginate: { itemsPerPage: 10, currentPage: page }">
            <td>{{item.name}}</td>
            <td>{{item.gender}}</td>
            <td>{{item.url}}</td>
          </tr>

          <tfoot>
          
            <tr *ngIf="people.length > 4">
              <td colspan="9" class="rm-brd">
                <pagination-controls (pageChange)="page = $event" style="margin:0px;padding:0px;"></pagination-controls>
              </td>
            </tr>
            <tr *ngIf="people.length == 0">
              <td colspan="9" class="rm-brd">
                <span class="text-info text-small">No person found.</span>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        Jokes Details
      </div>
      <div class="card-body">
        <a (click)="getJokes()" class="btn btn-primary">List Jokes</a>
        <br>
        <br>

        <table class="table table-sm table-bordered" style="border-top:none;">
          <thead class="" style="background:#1E83EC!important;color:white !important;">
            <tr style="vertical-align:middle;">
              <th scope="col">Category</th>
              <th scope="col">Created User</th>
              <th scope="col">Url</th>
            </tr>
          </thead>
          <tr *ngFor="let item of jokes | paginate: { itemsPerPage: 10, currentPage: page }">
            <td>{{item.category}}</td>
            <td>{{item.createdUser}}</td>
            <td>{{item.url}}</td>
          </tr>

          <tfoot>
          
            <tr *ngIf="jokes.length > 4">
              <td colspan="9" class="rm-brd">
                <pagination-controls (pageChange)="page = $event" style="margin:0px;padding:0px;"></pagination-controls>
              </td>
            </tr>
            <tr *ngIf="jokes.length == 0">
              <td colspan="9" class="rm-brd">
                <span class="text-info text-small">No joke found.</span>
              </td>
            </tr>
          </tfoot>
        </table>

      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        Random Joke Detail
      </div>
      <div class="card-body">
        <a (click)="randomJoke()" class="btn btn-primary">Random Joke</a>
        <br>
        <br>

        <table class="table table-sm table-bordered" style="border-top:none;">
          <thead class="" style="background:#1E83EC!important;color:white !important;">
            <tr style="vertical-align:middle;">
              <th scope="col">Category</th>
              <th scope="col">Created User</th>
              <th scope="col">Url</th>
            </tr>
          </thead>
          <tr *ngIf="randomJokes">
            <td>{{randomJokes.category}}</td>
            <td>{{randomJokes.createdUser}}</td>
            <td>{{randomJokes.url}}</td>
          </tr>

          <!-- <tfoot>
          
            <tr *ngIf="jokes.length > 4">
              <td colspan="9" class="rm-brd">
                <pagination-controls (pageChange)="page = $event" style="margin:0px;padding:0px;"></pagination-controls>
              </td>
            </tr>
            <tr *ngIf="jokes.length == 0">
              <td colspan="9" class="rm-brd">
                <span class="text-info text-small">No joke found.</span>
              </td>
            </tr>
          </tfoot> -->
        </table>

      </div>
    </div>
  </div>
</div>

